{% extends "main_page.html" %}

{% block content %}
<meta charset="UTF-8">

<h2 align="center">Ваши домашние задания:</h2>

<div class="cards_container">
    {% for job in jobs %}
    <div class="card">
        <div>{{ job.homework.capitalize() }}</div>
        <div>Учитель: {{ names.get(job.teacher, 'Unknown') }}</div>
        <div>Ученики: {{ names.get(job.students, 'Unknown') }}</div>
        <div>Срок сдачи: {{ job.date }}</div>
        <div>Предмет: {{ job.subject }}</div>
        <div>Файлы: {{ job.file or 'No file' }}</div>
    </div>
    {% endfor %}
</div>

{% endblock %}
