{% extends "main_page.html" %}

{% block content %}
<h1>Регистрация</h1>

<form action="" method="post">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control") }}<br>
        {% for error in form.name.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <p>
        {{ form.status.label }}<br>
        {{ form.status(class="form-control") }}<br>
        {% for error in form.status.errors %}
    <p class="alert alert-danger" role="alert">
        {{ error }}
    </p>
    {% endfor %}
    </p>
    <div id="teacher-password-block" style="display: none;">
        <p>
            {{ form.teacher_password.label }}<br>
            {{ form.teacher_password(class="form-control", type="password") }}<br>
            {% for error in form.teacher_password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        </p>
    </div>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>

<script>
    const statusField = document.getElementById("status");
    const teacherPasswordBlock = document.getElementById("teacher-password-block");

    function toggleTeacherPassword() {
        teacherPasswordBlock.style.display = statusField.value === "teacher" ? "block" : "none";
    }

    toggleTeacherPassword();
    statusField.addEventListener("change", toggleTeacherPassword);
</script>
{% endblock %}
